
.nav{
    position: sticky;
    top: 0;
    width: 1426px;
    margin: auto;
    padding: 0 30px;
    height: 100px;
    z-index: 2;
    /* background: rgba(12, 12, 29,0.7); */
    border-radius: 10px;

}
.wrapper{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-ttl{
    font-weight: bold;
}
.social{
    display: flex;
    gap: 50px;
    font-size: large;
}
.social img{
    width: 18px;
    height: 18px;
}
@media (max-width:1400px) and (min-width:700px) {
    .nav{
        width: 80%;
    }
}
@media (max-width:700px) {
    .wrapper{
        display: none;
    }
    .nav{
        /* display: none; */
        /* position: absolute; */
        height: 0px;
    }
}