.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    z-index: 1;
    display: none;
}
.bg{
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: white;
}
.button{
    z-index: 11;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
}
.links{
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 20px;
}
@media (max-width:700px) {
    .sidebar{
        display: block;
        position: absolute;
    }
}